/*default style reset*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.textblock{
    padding: 10px 10px 10px 10px;
    border: 3px solid rgb(206, 3, 3);
    margin: 50px 50px 50px;
}

/*cv*/
body {
	background-color:  rgb(21, 23, 25);
    background-size: cover;
    color: white;
}